.page {
    max-width: 1600px;
    min-width: 1100px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.header {
    background-color: #1E1E1E;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
}

.header__title {
    text-align: right;
    width: 100%;
    padding-right: 40px;
    font-size: 70px;
}

.header__description {
    position: absolute;
    right: 40px;
    bottom: 100px;
    max-width: 500px;
    line-height: 1.5;
    text-align: right;
}

.logo {
    width: 100px;
}

.logo_place_header {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo_place_footer {
    width: 50px;
}

.header__arrow {
    width: 200px;
    position: absolute;
    left: 40px;
    top: 50%;
    margin-top: -100px;
}

.header__square {
    width: 800px;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    border: 4px dashed yellow;
}

.header__circle {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    position: absolute;
    left: 300px;
    bottom: 100px;
    border: 4px solid red;
}

.article-list {
    margin: 50px 0;
}

.article-list__title {
    font-size: 40px; 
}   

.articles {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.article {
    width: 300px;
    list-style: none;
    margin-right: 20px;
    box-shadow: 0 0 2px grey;
    border-radius: 4px;
    margin-bottom: 20px;
}

.article__img {
    width: 100%;
}

.article__title,
.article__descr {
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    box-sizing: border-box;
    background-color: #1E1E1E;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
    align-items: center;
}